### 1. Write a one-liner with which you would add a decimal place to this integer.

  <i> 156 <i>

In [ ]:
float(156)

### 2. Which datatype does the following value have? Write a one-liner with which you would check the datatype?

  '153.12'

In [ ]:
type('153.12')

The value is a string (str).

### 3.Continue this code and create a new list ('long_words') that contains all the words in a given sentence that have more than three letters.

In [9]:
sentence = "The quick brown fox jumps over the lazy dog"
words = sentence.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Using classic if condition and a for loop:

In [2]:
long_words = []

for word in words:
    if len(word) > 3:
        long_words.append(word)

print(long_words)

['quick', 'brown', 'jumps', 'over', 'lazy']

Or, using list comprehension:

In [3]:
long_words = [word for word in words if len(word) > 3]
long_words

['quick', 'brown', 'jumps', 'over', 'lazy']

### 4. What is the output of this loop?

In range between 1 and 4 (1,2,3) the x is multiplied by each of these numbers. 

- 1 * 1 = 1
- 1 * 2 = 2
- 2 * 3 = 6

In [1]:
x = 1
for i in range (1,4):
    x *= i
print(x)

6

### 5. Write a one liner that will slice the word 'ideas' from the following sentence and uppercase it:

In [2]:
sentence = 'Colorless green ideas sleep furiously'

In [3]:
sentence[16:21].upper()

'IDEAS'

### 6. What is the output of this code?

In [8]:
text = 'This quiz is easy peasy lemon squeezy.'
i = 0
while text[i] != 's':
    print(text[i], end='')
    i += 1

Thi

While loop breaks when the condition isn't satisfied any more (when the letter is different than 's'). Here, the first 's' is after 'Thi'.

### 7. What is the output of this code?

In [9]:
nums = list(range(5))
print(nums[-1])
nums

4

[0, 1, 2, 3, 4]

String indexing - last item in the range between 0 and 5 (0 doesn't have to be named) is 4.

### 8. In the following list of lists, replace the (one!) value 'shashuka' with 'broccoli'! (Assuming that you know at which position 'pizza' is -- so you don't need to determine the position first!)

In [30]:
foods = [

    ['beans', 'eggs', 'toast'],

    ['pasta', 'cous cous', 'schnitzel'],

    ['salad', 'shashuka', 'lasagna']

]

In [11]:
foods[2][1] = 'broccoli'
foods

[['beans', 'eggs', 'toast'],
 ['pasta', 'cous cous', 'schnitzel'],
 ['salad', 'broccoli', 'lasagna']]

### 9. Write a few lines of code that: Opens the imaginary file "text_file.txt" and adds the string "Santa Claus" to the end of it.

In [15]:
santa = 'santa claus'

In [19]:
with open ('test_file.txt', 'w', encoding ='utf8') as fh:
    fh.write( f'\n{santa}')

###  Write a for loop that will sum all even numbers between 2 and 20. Store the result in the variable called 'total' and print it out.

Mind the indentations!

In [8]:
total = 0

for i in range(2, 21, 2):
    total += i
    
print(total)

110

The third parameter in the range() function is the step.